body {
  max-width: 800px;
  margin: auto;
  background-color: lightblue;
  margin: 3rem auto;
  max-width: 660px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#divideButton {
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;

}
#divideButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
#multiButton {
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;

}
#multiButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
#subtractButton {
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;

}
#subtractButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
#addButton {
  color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;

}
#addButton:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#field01 {
  position: absolute;
  background-color: grey;
}
#field02 {
  position:static;
  background-color: grey;

}
header {
  flex: auto;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;


}
